<mat-toolbar color="primary">
  <span style="font-weight: bold">Expense Tracker</span>
  <span class="example-spacer"></span>
  <div>
    <nav mat-tab-nav-bar color="accent">
      <a mat-tab-link *ngFor="let link of links"
         routerLinkActive
         #navLink="routerLinkActive"
         [routerLink]="link.path"
         (click)="activeLink = link.path"
         [active]="navLink.isActive"
      style="color: azure">
        <span style="font-palette: light">{{link.label}}</span>
      </a>
    </nav>
  </div>
  <span class="example-spacer"></span>

</mat-toolbar>

<router-outlet></router-outlet>
