.example-icon {
  padding: 10px;
}

.example-spacer {
  flex: 0 1 300px;
}

.example-card {
  max-width: 400px;
  /*margin: 50px;*/
  background-color: lightsteelblue;

}

.spacing {
  padding: 10px;
  margin-top: 10px;
}

.card-header-background {
  background-color: cadetblue;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-div{
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: block;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.centered-label {
  text-align: center;
}

.mat-tab-label-active {
  color: white !important;
}
